/* For information on how to create your own theme, please see:
   http://ionicframework.com/docs/theming/ */

   @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

   /* Set variables for all modes */
   :root {
	   /* Set the background of the entire app */
	   --ion-background-color: #ffffff;  
	   /* 3 màu chính dụng ở đây */
	   --ion-color-primary: #000000;
	   --ion-color-secondary: #703EFF;
	   --ion-color-tertiary: #FDBB0F;
	   /* mấy màu phụ cơ bản */
	   --ion-color-success: #00E6B3;
	   --ion-color-warning: #FFC107;
	   --ion-color-danger: #F10000;
	   --ion-color-light: #f6f8fc;
	   --ion-color-medium: #F3F2F6;
	   --ion-color-dark: #2f2f2f;
	   --ion-font-family: 'Lexend', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;
   }

/* Set text color of the entire app for iOS only */
:root.ios {
    --ion-text-color: #000;
}

/* Set text color of the entire app for Material Design only */
:root.md {
    --ion-text-color: #222;
}

/* Customize padding for ion-col components globally */
ion-col {
    padding: 0;
}
ion-grid{
    padding: 0;
}

.tabbar{
	border-top: 1px solid black;
}
.header{
	position: fixed;
	height: 56px;
	width: 100%;
	background-color: black;
}
.header2{
	position: fixed;
	height: 84px;
	width: 100%;
	background-color: black;
	z-index:20;
}
.content{
	padding: 57px 10px 0 10px;
}
.content4{
	padding-top: 66px ;
	background-color:rgba(67, 67, 67, 0.15);
}
.content2{
	display:flex;
	flex-direction: column;
	gap:10px;
	padding: 94px 10px 0 10px;
}
.box-location{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	height: 139px;
	width: 100%;
	background-color: black;
	border-radius:5px;
	color: white;
	padding:10px;
}
.box-l-user{
	height:40px;
	width:40px;
	border-radius:5px;
}
.box-l-user img{
	header: 100%;
	width: 100%;
	object-fit: cover;
}
.box-location-header{
	display:flex;
	justify-content: space-between;
}
.box-l-text{
	font-weight:light;
}
.box-location-next{
	display:flex;
	justify-content: start;
	item-align: center;
	gap:4px;
}

.box-location-search{
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: 35px;
	gap:8px;
}
.box-location-search input{
	color: black;
	outline: none;
	border: none;
	width:90%;
	height:100%;
	border-radius:5px;
	background-color: #ffff;
	padding-left: 30px;
	font-size:12px;
}
.bell{
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #ffff;
	height:100%;
	width: 35px;
	border-radius:5px;
}
.icon-search{
	position:absolute;
}
.icon-search svg{
	position:relative;
	left: 10px;
	top: 2px;
}
.img-item-car{
	display:flex;
	justify-content: center;
	align-items: center;
	height:40px;
	width:40px;
	border-radius:10px;
	background-color:rgba(0, 0, 0, 0.2);
}
.n-i-car-title{
	font-size: 9px;
}
.nav-item-car{
	width:62px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	font-weight:bold;
	gap:5px;
	
}
.service-car{
	display:flex;
	gap:5px;
	margin:10px 0;
	justify-content: center;
	align-item:center;
}
.img-item-extra{
	display:flex;
	justify-content: center;
	align-items: center;
	height:40px;
	width:40px;
	border-radius:100%;
	background-color:rgba(0, 0, 0, 0.2);
}
.img-item-car{
	/* display:flex;
	justify-content: center;
	align-items: center; */
	margin:auto;
	height:40px;
	width:40px;
	border-radius:100%;
	background-color:rgba(0, 0, 0, 0.2);
}
.n-i-extra-title{
	font-size: 10px;
}
.n-i-brand-title{
	font-size: 10px;
	text-align:center;
	font-weight:bold;
}
.nav-item-extra{
	width:62px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	font-weight:bold;
	gap:5px;
}
.service-extra{
	display:flex;
	gap:10px;
	justify-content: center;
	align-item:center;
}
.header-listcart{
	display:flex;
	justify-content: space-between;
	aline-items:center;
}
.h-listcart-left{
	display:flex;
	justify-content: center;
	align-items: center;
	gap:10px;
}
.cartCar-left{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:start;
}
.cartCar-left-img{
	width:84px;
}
.cartCar-middle-header{
	font-size:16px;
	/* text-align:center; */
	text-align:end;
	margin-bottom:5px;
}
.cartCar-middle-content{
	display:flex;
	flex-direction:column;
}
.cartCar-middle-content>div{
	display:flex;
	gap:5px;
}
.cartCar{
	height: 98px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	border-bottom:1px solid gray;
}
.cartCar-middle-item p{
	margin:5px;
	width:60px;
	font-size: 10px;
}
.cartCar-middle-item{
	display:flex;
	justify-content:center;
	align-items:center;
	gap:9px;
}
.button{
	border-radius:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
}
.cartCar-right{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:end;
	height: 21px;
	width: 80px;
	gap:5px;
}
.cartCar-right p {
	font-size:8px;
	margin:0;
}
.cartCar-right button{
	padding:10px 0;
	width:80px;
	background-color:black;
}
.buttonMore{
	width:100%;
	padding:10px;
	background-color:black;
}
.card-container {
	display: flex;
	justify-content:space-around;
	gap: 10px; 
  }

  .card {
	width: 166px;
	height: 212px;
	background-color: #333;
	color: #fff;
	border-radius: 8px;
	overflow: hidden;
	padding:10px 0 10px;
  }

  .card img {
	width: 100%;
	height: auto;
  }

  .card-content {
	padding: 10px;
  }

  .card-content h4 {
	font-size: 14px;
	margin: 0;
  }

  .card-content p {
	font-size: 12px;
	color: #ccc;
  }
  .box-new{
	padding-bottom: 10px;
  }
  .header2{
	  position: fixed;
	  display:;
	  justify-content: space-between;
	  width: 100%;
	  height: 84px;
	  background-color: black;
	  /* z-index:10; */
	}
	.header2>div{
		display:flex;
		justify-content: space-between;
		width:96.3%;
	}
  .header2 button{
	background: transparent;
	display:flex;
	justify-content: center;
	align-items: center;
	gap:16px;
	margin-left:10px;
	font-size:18px;
  }
  .header2 .btn2{
	background:rgba(255, 255, 255, 0.1);
	padding:5px;
	border-radius:100%;
  }
  .header2{
	display:flex;
	justify-content: flex-start;
	align-items: center;
  }
  .b-activity-c-right button{
	background-color: #00E6B3; 
	width:35px;
	height: 35px;
	border-radius: 100%;
  }
  .b-activity-car-first{
	display: flex;
	justify-content: space-between;
	align-items:center;
	margin-top: 0 !important;
  }
  .b-activity-c-id{
	font-size:20px;
  }
  .b-activity-c-left{
	display:flex;
	flex-direction:column;
	gap:6px;
  }
  .b-activity-c-day{
	font-size: 13px ;
  }
  .img-driver{
	height: 40px;
	width: 40px;
	border-radius: 100%;
  }
  .img-driver img{
	header: 100%;
	width: 100%;
	object-fit: cover;
  }
  .driver-content{
	display: flex;
	justify-content: space-between;
	align-items:center;
  }
  .driver-content-1{
	display: flex;
	gap: 15px;
  }
  .driver-content-2{
	width:50%;
	display:flex;
	justify-content:end;
	align-items:center;
  }
  .driver-content-2 .rate{
	margin-left:6px;
  }
  .b-activity-car-third{
	height: 44px;
  }
  .b-activity-car-third img {
	height: 100%;
	width: 100%;
	object-fit: cover;
  }
  .b-activity-car-third>div{
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 17px;
  }
  .b-activity-car-third{
	display:flex;
	gap: 12px;
	font-size:13px;
  }
  .box-activity-car>div>div{
	margin:20px 0;
  }
  .box-activity-car>div{
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .b-activity-car-last {
	margin-bottom:0 !important;
	text-align:center;
  }
  .b-activity-car-last button{
		background-color: transparent;
  }
/* slider car */
.sliderCar{
	height: 200px;
	width: 100%;
}
.imgcar img{
	margin:auto;
	width: 279px;
	height: 188px;
	object-fit:cover;
}
/* end slider car */
.contentModel{
	padding:0 10px;
	display:flex;
	flex-direction:column;
	gap:10px;
}
.model-car{
	display:flex;
	flex-direction:column;
	gap:;
}
.model-car-detail{
	display:flex;
	flex-direction:column;
	gap:10px;
	font-size:13px;
	
}
.contentModel-first{
	padding-bottom:5px;
	box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}
.driver-model{
	background-color: #A4A4A4;
	padding:10px; 
	color:white !important;
	border-radius: 5px;
}
.text-base{
	font-size: 13px !important
}
.Info-driver{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.driver-model .Info-driver{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.driver-model .driver-content-2 .circle{
	height:40px ;
	width:40px ;
	background-color: white;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:100%;
}
.detail-trip{
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	padding:20px 10px;
}
.title-detail-trip{
	display:flex;
	justify-content:start;
	align-items:center;
	
}
.title-d-t-icon{
	display:flex;
	justify-content:center;
	align-items:center;
}
.title-d-t-text{
	font-size:16px;
}
.contentModel-secondary{
}
.content-detail-trip{
	display:flex;
	flex-direction:column;
	gap:25px;
	font-size:13px;
	margin-top:20px;
}
.content-detail-trip>div{
	display:flex;
	width:100%;
	justify-content:space-between;
	align-items:end;
}
.content-detail-trip>div>div{
	font-size: 20px;
}
.content-detail-trip button{
	border-radius:12px;
	background-color:black;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:10px 10px;
	color:white;
}
.IonContent{
	min-height:100vh;
}
.IonContent>div{
	padding-bottom:30px;
}
.driver-content-2-left{
	display:flex;
	gap:10px;
}
.boxStat{
	display:flex;
	align-items:center;
}
.boxContact{
	display:flex;
	align-items:center;
	gap:10px;
	margin:0 10px;
}
.box-listcart{
	padding-bottom:10px;
}

.header3{
	position: fixed;
	height:180px;
	width: 100%;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(31,15,43,1) 14%, rgba(51,27,71,1) 25%, rgba(59,30,84,1) 39%) !important;
}
  .header3 button{
	background: transparent;
	display:flex;
	justify-content: center;
	align-items: center;
	gap:16px;
	margin-left:10px;
  }
  .headercontent{
	color:white;
	font-size:13px;
	font-weight:200; 
	margin-top:10px;
	margin-left:10px;
  }
  .header3::after {
    background-image: url('/lathu.png');
    content: '';
	position: absolute;
	right: 0;
	bottom: 0;
    display: block; 
    width: 100px; 
    height: 100px; 
	background-repeat: no-repeat;
}
.header3Navigation{
	position: relative;
	top: 60px;
}
.header3InputCart{
	display: flex;
	justify-content: start;
	padding-left: 10px;
	gap:22px;
	align-items: center;
	position: relative;
	top: 110px;
	margin:auto;
	width:320px;
	height: 45px;
	border-radius:10px;
	background-color:#FFBF00;
	z-index:10;
}
.text-cart>div{
	color: white;
	font-size:12px;
}
.text-cart p{
	color: white;
	margin:0;
	font-size: 10px;
}
.buttomAddCart{
	margin-left: 10px;
}
.buttomAddCart button{
	display: flex;
	justify-content:center;
	align-items:center;
	gap: 10px;
}
.content3{
	margin-top:210px;
}
.buttomAddCart button{
	padding:10px;
	border-radius:10px;
	background-color:white;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	color:Black;
}
.cartNothing{
	height:324px;
	width:100%;
	border-top:1px solid black;
}
.cartNothing{
	text-align:center;
}
.cartNothing{
 margin-top:153px;
 display:flex;
 flex-direction:column;
 justify-content:space-between;
 align-items:center;
 padding-top:100px;
}
.cartNothing-conent{
	margin-top:80px;
}
.cartNothing-conent p{
	margin:0;
	color:#ACACAC;
}
.box_chat-content{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.box_item-driver{
	display:flex;
	justify-content:space-between;
	item-align:center;
	gap:20px;
}
.box_item-driver .imgDriver img{
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:100%;
}
.box_item-driver .imgDriver{
	height:40px;
	width:40px;
	border-radius:100%;
}
.boxchat{	
	margin-top:40px;
	display:flex;
	flex-direction:column;
	gap:10px;
}
.boxchatin{	
	margin-top:20px;
	display:flex;
	flex-direction:column;
	height:83vh;
	gap:10px;
}
.driverName{
	display:flex;
	justify-content:space-between;
	font-size:14px;
}
.contentChat{
	font-size:13px;
}
.box_item-Chat{
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
	padding:10px 5px;
	border-radius:10px;
}
.box_item-driver-left{
	display:flex;
	align-items:center;
	gap:10px;
}
.box_header .infoDriver{
    display: flex;
    align-items: center;
}
.box_header .box_item-icon{
    display: flex;
    align-items: center;
	gap:10px;
}
.box_header{
	padding:10px;
	position:fixed;
	background:white;
	width:100%;
}
.box_chat{
	height:100%;
	margin-top:70px;
	padding:0 10px;
	display:flex;
	flex-direction:column;
	gap:20px;
	/* position:relative */
}
.box_input-send{
	/* position:fixed; */
	bottom:0;
	height:50px;
	width:100%;
}
.box_chat-content{
	padding:10px 12px;
	border-radius:10px;
	background-color:white;
	width: fit-content;
}
.box_chat-time{
	margin-top:5px;
}
.box-chat-me{
	display:flex;
	flex-direction:column;
	align-items:end;
	text-align:justify;
}
.box_input-send{
	display:flex;
	justify-content:center;
	gap:10px;
}
.btn-send{
	display:flex;
	justify-content:center;
	align-items:center;
}
.btn-send button{
	height:43px;
	width:43px;
	border-radius:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:white;
}
.inputText-handle{
	padding-left:10px;
	outline: none;
}
.input-send{
	background-color:white;
	padding:0 10px;
	border-radius:5px;
	width:100%;
}
.rate-box-chat{
	text-align:center;
}
.headerUser{
	height:148px;
	width:100%;
	background-color:black;
	display:flex;
	justify-content:space-between;
	padding:0 36px;
	align-items:center;
}
.headerUser-info{
	display:flex;
	justify-content:center;
	align-items:center;
	color:white;
	gap:10px;
}
.headerUser-info-img{
	height:40px;
	width:40px;
	border-radius:100%;
}
.headerUser-info-img img{
	width:100%;
	height:100%;
	border-radius:100%;
}
.member-rate>div{
	position:relative;
	top:75px;
	width:341px;
	height:44px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:white;
	padding:0 35px;
	border-radius:10px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.member-rate{
	position:absolute;
	
}
.member_start{
	display:flex;
	justify-content:center;
	align-items:center;
}
.containeruser {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display:flex;
	flex-direction:column;
	gap:10px;
  }
  
  .section {
	margin-bottom: 20px;
  }
  
  h3 {
	font-size: 1.2rem;
	margin-bottom: 10px;
	color: #333;
  }
  
  .item, .sub-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	/* border-bottom: 1px solid #ddd; */
  }
  
  .sub-item {
	padding-left: 20px;
	border-bottom: none;
  }
  
  .item:last-child {
	border-bottom: none;
  }
  
  span {
	font-size: 1rem;
	color: #555;
  }
  
.strawberries{
	display:flex;
	justify-content: space-between;
	width: 100%;
}
.user-page {
	padding: 16px;
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap:20px;
  }
  
  .user-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .user-close-btn, .user-save-btn {
	border: none;
	background: none;
	font-size: 18px;
	cursor: pointer;
  }
  
  .user-avatar-section {
	text-align: center;
	margin: 16px 0;
  }
  
  .user-avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
  }
  
  .user-rating {
	margin-top: 8px;
	font-size: 16px;
  }
  
  .user-form, .user-language-options, .user-payment-form {
	margin-top: 16px;
  }
  
  .user-label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
  }
  
  .user-input, .user-select {
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
  }
  
  .user-mobile {
	display: flex;
	align-items: center;
  }
  
  .user-country-code {
	margin-right: 8px;
  }
  
  .user-logout-btn {
	width: 100%;
	padding: 12px;
	color: #fff;
	border: none;
	cursor: pointer;
	background:transparent;
	color: black;
	border-bottom: 1px solid gray;
	display:flex;
	justify-content: center;
	align-items: center;
	gap:5px;
  }
  
  .user-language-option {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
  }
  
  .user-language-option input {
	margin-right: 8px;
  }
  
  .user-payment-option, .user-save-card {
	margin-bottom: 16px;
  }
  
  .user-card-details input{
	background-color: white;
	border-radius: 10px;
	border: 1px solid gray;
  }
  .user-card-details {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top:7px;

  }
  .user-card-details-under {
	display: flex;
	gap: 8px;
  }
  
  .user-payment-info {
	font-size: 12px;
	color: #555;
  }
  .user-header button{
	color: black;
  }
  .user-form input{
	background-color: white;
	border:none;
	border-bottom:1px solid gray;
  }
  .user-form select{
	background-color: white;
  }
  .genderdropdown{
	padding:10px 0;
	border-bottom:1px solid gray;
  }
  .genderdropdown-options>div{
	padding:10px 0;
	border-bottom:1px solid gray;
  }
  .text-member{
	color: black;
  }
  .itemLanguage{
	display:flex;
	padding:10px;
	border-radius:5px;
	margin:10px 0;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }
  .notification{
	 width:100%;
	 display:flex;
	 justify-content: center;
	}
	.notification>div{
		position: absolute;
		top: -650px;
		background-color:white;
		border-radius:5px;
		border:1px solid gray;
		padding: 10px;
		width: 95%;
		display: flex;
		flex-direction:column;
		gap:25px;
	}
	.notification-content>div{
		display: flex;
		justify-content:center;
		align-items:center;
		gap:10px;
	}
	
  .circleNotification{
	height:40px;
	width:40px;
	border-radius:100%;
	background-color:gray;
	display:flex;
	justify-content:center;
	align-items:center;
  }
  .circleNotification-text{
	width:80%;
  }
  .circleNotification-text .title{
	color:black;
	weight:bold;
  }
  .circleNotification-text .description{
	color:gray;
	weight:bold;
	font-size:10px;
  }
  .n-Red{
	background-color:rgba(241, 0, 0, 0.1);
}
 	.n-green{
			background-color:rgba(0, 230, 179, 0.1);
	}
	.n-green-car{
		background-color:rgba(0, 230, 179, 0.2);
	}
	.n-yellow-car{
		background-color:rgba(230, 180, 0, 0.2);
	}
	.n-red-car{
		background-color:rgba(255, 61, 0, 0.2);
	}
	.n-purple{
		background-color:rgba(131, 66, 186, 0.7);
	}
	.inputSearch{
		position:fixed;
		top:70px;
		z-index:20;
	}
	.inputSearch>div{
		display:flex;
		gap:10px;
	}
	.inputSearch-left-icon{
		position:absolute;
		margin-top:8px;
		margin-left:5px
	}
	.inputSearch-left input{
		border:none;
		outline:none;
		background:white;
		width:292px;
		height:35px;
		border-radius:10px;
		padding:0 30px;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}
	.inputSearch-right{
		height:35px;
		width:35px;
		background:white;
		border-radius:10px;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}
	.contentSearch{
		margin-top:120px;
		padding:0 10px;
	}
	.parentinputSearch{
		width:100%;
		display:flex;
		justify-content:center;
		z-index:1;
	}
	.nav-item-car-slider>div{
		/* display:flex;
		flex-direction:column;
		justify-content:center; */
		margin:auto;
	}
	.nav-item-brand{
		z-index:10;
	}
	/* detail car */
	.specifications>div{
		display:flex;
		margin:17px 0;
		justify-content:space-between;
	}
	.specifications{
		padding:10px;
		border-radius:10px;
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
		margin:10px 0;
	}
	.item-specifications-end{
		display:flex;
		justify-content:end;
		align-items:center;
		gap:10px;
	}
	.item-specifications{
		display:flex;
		align-items:center;
		gap:10px;
	}
	.specifications2{
		display:flex;
		flex-direction:column;
		gap:15px;
		padding:10px;
	}
	.specifications2-on{
		display:flex;
		
	}
	.specifications2-on-box{
		display:flex;
		flex-direction:column;
		gap:15px;
	}
	.specifications2-under{
		display:flex;
		flex-direction:column;
		gap:15px;
	}
	.specifications2-on>div{
		width:50%;
	}
	.booking-detail{
		background:black;
		font-weight:bold;
		font-size:16px;
		width:90%;
		height:54px;
		border-radius:5px;
		margin:auto;
		margin-top:50px;
		color:white;
	}
	.bill-detailcar-first{
		display:flex;
		justify-content:space-between;
	}
	.bill-detailcar-first img{
		width:100%;
	}
	.bill-detailcar-specifications{
		width:60%;
	}
	.bill-detailcar-first-img{
		width:40%;
	}
	.bill-detailcar-specifications {
		font-size:11px;
	}
	.formDate{
		display:flex;
		justify-content:space-between;
		align-items:center;
	}
	.detail-booking-from{
		width:90%;
		margin:auto;
		height:105px;
		display:flex;
		align-items:start;
		justify-content:space-between;
	}
	.icon-secondary{
		display:flex;
		flex-direction:column;
		justify-content:center;
		height:100%;
		gap:20px;
		width:45%;
	}
	.icon-last{
		display:flex;
		flex-direction:column;
		justify-content:center;
		height:100%;
		gap:20px;
		color:#FF3D00;
	}
	.icon-last-end{
		display:flex;
		flex-direction:column;
		justify-content:center;
		height:100%;
		gap:20px;
		color:#00E6B3;
	}
	.icon-last-end, .icon-last{
		width:45px;
	}
	.map-detail-booking{
		height:43px;
		background-color:rgba(164, 164, 164, 0.5);
		border-radius:10px;
		width:100%;
	}
	.detail-booking{
		display:flex;
		flex-direction:column;
		gap:10px;
	}
	.map-detail-booking {
		display:flex;
		justify-content:space-between;
		align-items:center;
		padding:0 10px;
	}
	.billContainer {
		width: 100%;
		max-width: 480px;
		margin: 0 auto;
		background: #fff;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	  }
	  
	  .billheader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 15px;
		background: #fff;
		border-bottom: 1px solid #eaeaea;
	  }
	  
	  .billheader span {
		font-size: 16px;
		font-weight: bold;
	  }
	  
	  .required {
		color: red;
	  }
	  
	  .close-btn {
		background: none;
		border: none;
		font-size: 20px;
		cursor: pointer;
	  }
	  
	  .service-section {
		padding: 15px;
		border-bottom: 1px solid #eaeaea;
	  }
	  
	  .Billservice-item {
		display: flex;
		align-items: center;
		gap: 10px;
	  }
	  .imgchainuoc{
		height: 100px;
		width: 50px;
	  }
	  .Billservice-item img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 5px;
	  }
	  
	  .service-details {
		flex: 1;
	  }
	  
	  .service-details h3 {
		margin: 0;
		font-size: 16px;
	  }
	  
	  .service-details p {
		margin: 5px 0;
		font-size: 14px;
		color: #666;
	  }
	  
	  .quantity-control {
		display: flex;
		align-items: center;
		gap: 5px;
	  }
	  
	  .quantity-control button {
		width: 30px;
		height: 30px;
		background: #f0f0f0;
		border: none;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		color: black;
	  }
	  
	  .service-info, .payment-section, .contact-info {
		border-bottom: 1px solid #eaeaea;
	  }
	  
	  .service-info h4, .contact-info h4 {
		margin: 0 0 10px;
		font-size: 16px;
	  }
	  
	  .service-info p, .payment-section label, .contact-info label {
		font-size: 14px;
		margin: 5px 0;
	  }
	  
	  .service-info span {
		float: right;
	  }
	  
	  .payment-option {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		padding: 10px;
		border: 1px solid #eaeaea;
		border-radius: 5px;
	  }
	  
	  .payment-option img {
		width: 30px;
	  }
	  
	  .phone-input {
		display: flex;
		align-items: center;
		gap: 5px;
	  }
	  
	  .phone-input span {
		background: #f0f0f0;
		padding: 5px;
		border-radius: 5px;
	  }
	  
	  .continue-btn {
		display: block;
		width: 100%;
		padding: 15px;
		background: black;
		color: white;
		font-size: 16px;
		text-align: center;
		border: none;
		cursor: pointer;
		border-radius:10px;
		margin:10px 0;
	  }
	  .remove-btn{
		background:transparent;
		color:black;
	  }
	  .extraservice{
		border:1px solid black;
		border-radius:100%;
		height:30px;
		width:30px;
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	.momo{
		display: flex;
		justify-content: center;
		align-items:center;	
	}
	.inputnumber{
		width: 20%;
		border-radius: 10px;
		border: 1px solid gray;
		display:flex;
		justify-content: center;
		align-items: center;
		gap:10px;
		margin-bottom: 0px !important;
	}
	.contact-info label{
		color:gray;
	}
	.contact-info input{
		margin-bottom: 0px !important;
	}
	.hidden{
		display: none !important;
	}
	.contentLR {
		height: 100vh;
		background-image: url('/bglogin.png');
		background-repeat: no-repeat;
		background-size: cover; 
		background-position: center; 
	}
	.login-container {
		text-align: center;
		width: 300px;
		color:white;
	  }
	.login-container h1{
		color:white;
		font-size:40px;
		margin-bottom:50px;
	}
	  
	  .login-form {
		display: flex;
		flex-direction: column;
	  }
	  
	  .input-group {
		position: relative;
		margin-bottom: 15px;
	  }
	  
	  .input-group label img {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		width: 20px;
		height: 20px;
	  }
	  
	  .input-group input {
		width: 100%;
		height:55px;
		padding: 10px 10px 10px 40px;
		border: 1px solid #ccc;
		border-radius: 5px;
		color: #000;
		background:transparent;
		background-image: url('/bg-blur.png');
		background-repeat: no-repeat;
		background-size: cover; 
		color:white;
		outline: none;
	  }
	  .input-group input::placeholder {
		color: white;
	  }
	  
	  .forgot-password {
		font-size: 12px;
		margin-bottom: 15px;
		color: #ccc;
		text-decoration: none;
	  }
	  
	  .forgot-password:hover {
		text-decoration: underline;
	  }
	  
	  .sign-in-btn {
		padding: 10px;
		border: none;
		border-radius: 5px;
		background: linear-gradient(to right, #444, #222);
		color: #fff;
		cursor: pointer;
		font-size: 16px;
	  }
	  
	  .sign-in-btn:hover {
		background: linear-gradient(to right, #666, #333);
	  }
	  
	  .social-login {
		margin-top: 20px;
	  }
	  
	  .social-login p {
		font-size: 14px;
		margin-bottom: 10px;
	  }
	  
	  .social-icons {
		display: flex;
		justify-content: center;
		gap: 10px;
	  }
	  
	  .social-icons>div>div  {
		width: 35px;
		height: 35px;
		cursor: pointer;
		display:flex;
		justify-content: center;
		align-items: center;
	  }
	  .social-icons img {
		width:100%;
		height:100%;
	  }
	  
	  .social-icons img:hover {
		opacity: 0.8;
	  }
	  .social-icons>div{
		margin:0 10px;
	  }
	  .contentLR>div{
		height: 100%;
		display:flex ;
		flex-direction:column;
		justify-content: center;
		align-items: center;
	  }
	  .login-form button{
		height: 50px;
	  }
	  .social-icons>div{
		width: 60px;
		height: 44px;
		display: flex;
		justify-content: center;
		align-items:center;
		background-image: url('/bg-blur.png');
		background-repeat: no-repeat;
		background-size: cover; 
		border-radius:10px;
		background-position: center; 
	}
	.iconfb, .icona{
		position: relative;
		top:2px;
	}
	.icong{
		width: 25.5px !important;
		height: 25.5px !important;
	}
	.hrStick{
		display:flex;
		justify-content: center;
		align-items:center;
	}
		.labelOut{
		margin-top:0 !important;
		text-align: start;

	}
	.toggle-password-btn{
		position: absolute;
		background:transparent;
		right: 10px;
		top: 3px;
	}
	.underMap{
		height: 9vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.underMap button{
		width: 349px;
		height: 61px;
		color:white;
		background:black;
		border-radius:10px;
	}
	.penUser{
		display: flex;
		justify-content: center;
		align-items: center;
		gap:10px;
	}
.success-container {
    display: flex;
	flex-direction: column;
	justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}

/* Logo */
.success-logo{
	display: flex;
	justify-content: center;
}
.success-logo img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

/* Status */
.success-status {
	text-align: center;
    font-size: 24px;
    color: #1dc078;
    margin: 10px 0;
}

/* Confirmation */
.success-confirmation {
    font-size: 18px;
    color: #333333;
    margin-bottom: 20px;
	text-align: center;
}

/* Note Section */
.success-note {
    text-align: left;
    font-size: 16px;
    color: #555555;
    margin-bottom: 20px;
}

.success-note p {
    margin: 0 0 5px;
}

.success-note ol {
    margin: 0;
    padding-left: 20px;
}

.success-note li {
    margin-bottom: 10px;
}

/* Button */
.success-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
	height: 61px;
}

.success-button:hover {
    background-color: #333333;
}
.success-container-parent{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
