.bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }
  
  .bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sliderUnder h2 {
    text-align: center;
    font-weight: 200;
  }
  .sliderUnder p {
    text-align: center;
    color:#7177AB;
  } 
  .buttonSider{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .sliderUnder {
    padding: 10px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .buttomfullsilder {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .buttomfullsilder:hover {
    background-color: #444;
  }
  
  .slick-dots {
    display: none !important;
  }
  .sliderStart-container {
    text-align: center;
  }

  .sliderStart-logo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  .sliderStart-title {
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  .sliderStart-button {
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }

  .sliderStart-button:hover {
    background: #333;
  }
  .sliderStart-container{
    display:flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #e0e0e0 60%, #000);
    color: #000;
  }
  .sliderStart-container>div{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 190px 0;
    align-items: center;
    height: 100vh;
  }